import os

class Config(object):

    MONGO_URI = "mongodb://admin:password@mongodb/mercury"
    CLIENT_ID="client_id"
    CLIENT_SECURE="client_secret"
    FINGERPRINT="123456"
    IP_ADDRESS='127.0.0.1',
    DEVMODE=True
